@font-face {
  font-family: RedHatDisplay;
  src: url(fonts/RedHatDisplay-Medium.ttf);
}

@font-face {
  font-family: RedHatDisplay;
  src: url(fonts/RedHatDisplay-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: RedHatDisplay;
  src: url(fonts/RedHatDisplay-Black.ttf);
  font-weight: 900;
}

:root {
  /* Type Variables */
  --type-face: 'RedHatDisplay', sans-serif;
  --base-font-size: 100%;
  font-family: var(--type-face);

  /* Color Variables */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid limegreen; */
}

/* Layout */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  border-radius: 1.44rem;
  max-width: 400px;
  padding-bottom: 0.402rem;
}

.card-image {
  display: block;
  max-width: 100%;
  border-radius: 1.44rem 1.44rem 0 0;
}

.card h1 {
  margin: 2.074rem 0 .7rem;
}

.card-description {
  padding: 0.579rem 1.728rem;
}

.plan-detail {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: .833rem;
  margin: 1rem 0;
}

.plan-selected {
  padding: 0 1.2rem;
}

.plan-price {
  margin-top: .335rem;
}

.plan-detail a {
  margin-left: auto;
}

.btn {
  border: none;
  padding: 1rem;
  width: 90%;
  border-radius: .833rem;
  font-family: inherit;
  margin: .402rem 0;
}

/* Type */
.card h1 {
  font-size: 1.44rem;
  font-weight: 900;
}

.card-description {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}

.plan-name {
  font-weight: 900;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
}

a:link,
a:visited {
  font-size: .9rem;
  font-weight: 900;
}


/* Color */
.container {
  background-color: var(--pale-blue);
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 40px -30px var(--dark-blue);
}

.card h1 {
  color: var(--dark-blue);
}

.card-description {
  color: var(--desaturated-blue);
}

.plan-detail {
  background-color: var(--very-pale-blue);
}

.plan-price {
  color: var(--desaturated-blue);
}

a:link,
a:visited {
  color: var(--bright-blue);
}

.btn {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
}

.btn-submit {
  box-shadow: 0 4px 30px -10px var(--bright-blue);
}

.btn-cancel {
  background-color: transparent;
  color: var(--desaturated-blue);
}